body {
    background-color: rgb(206, 206, 206);
    font-family: "Montserrat", sans-serif;
}
header{
    background-color:rgb(77, 96, 46);
    padding: 8px 0;
    color: white;
}
nav {
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 50px;
}
.headernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 50px;
}
.cat_types{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 3rem;
}
.kitten1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    align-items: center;
}
.kitten1_img{
    object-fit: cover;
    display: block;
}
.kittentext{
    width: 600px;
    margin-right: 200px;
}
.kitten2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    align-items: center;
}
.kitten2_img{
    object-fit: cover;
    display: block;
}
.kitten3{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    align-items: center;
}
.kitten3_img{
    object-fit: cover;
    display: block;
}
.kitten4{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    align-items: center;
}
.kitten4_img{
    object-fit: cover;
    display: block;
}
.kitten5{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    align-items: center;
}
.kitten5_img{
    object-fit: cover;
    display: block;
}
footer{
    background-color:rgb(77, 96, 46);
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    text-align: center;
}
.fotter_nav{
    justify-content: center;
    gap: 50px;
}
h1 {
    font-size: 3rem;
}
a {
    text-decoration: underline;
    color: white;
}
.footernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.logolink {
        position: absolute;
        top: 35px;
        left: 40px;
        z-index: 10;
        text-decoration: none;
}
.headernav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease;
   }
   .headernav a:hover::after {
    transform: scaleX(1);
}
.headernav a {
    text-decoration: none;
}
.cat_types a {
    color: black;
}
.footernav a {
    text-decoration: none;
}
.kittenimgs img {
    width: 550px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 200px;
}