  body {
     background-color: rgb(224, 221, 207);
  }
  h1 {
    color: maroon;
    border-bottom: 1px solid maroon;
    border-top: 1px solid maroon;
    padding: 12px;
  }
  h2{
    color: maroon;
    margin-left: 100px;
     
    
  }
  p { 
    font-size: large; 
    font-family: sans-serif;
    margin-left: 100px; 
    margin-right: 11px
  }
  img {
    float: right;
    margin: 0 12px;
  }